body{
    margin:0;
    font-family:'Segoe UI';
    background:#020617;
    color:white;
}

/* LOGIN */
#login-screen{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    background:#0f172a;
    padding:40px;
    border-radius:15px;
    text-align:center;
}

.login-box input{
    display:block;
    margin:10px auto;
    padding:10px;
    width:200px;
}

/* APP */
.app{
    display:flex;
}

.hidden{
    display:none;
}

/* SIDEBAR */
.sidebar{
    width:230px;
    background:#0f172a;
    padding:20px;
    height:100vh;
}

.sidebar button{
    width:100%;
    margin:10px 0;
    padding:10px;
    border:none;
    border-radius:8px;
    background:#1e293b;
    color:white;
    cursor:pointer;
}

.sidebar button:hover{
    background:#3b82f6;
}

.logout{
    background:red;
}

/* MAIN */
.main{
    flex:1;
    padding:30px;
}

/* SALDO */
.saldo{
    font-size:55px;
}

/* TARJETA */
.card-bank{
    margin-top:20px;
    padding:20px;
    border-radius:15px;
    background:linear-gradient(135deg,#6366f1,#22c55e);
}

/* CAMPOS */
input, select{
    margin:10px 0;
    padding:10px;
    width:250px;
    display:block;
}

/* BOTONES */
button{
    padding:10px;
    border:none;
    border-radius:8px;
    background:#22c55e;
}

/* LISTA */
li{
    background:#1e293b;
    padding:10px;
    margin:5px 0;
}